@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sepia-100 text-sepia-900 transition-colors duration-500;
  }
  .dark body {
    @apply bg-sepia-900 text-sepia-100;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
